@charset "UTF-8";






/* .body-all{
	width: 100%;
}

.body-top{
	width: 46rem;
    height: 18rem;
    background-color: ghostwhite;
    margin-top: 40px;
    margin-left: 70px;
    padding-top: 15px;
    padding-left: 70px;
    border-radius: 10px;
} */