<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.HeaderMapper">
	<select id="getListAllCount" resultType="int">
		SELECT count(*) FROM boardwrite
	</select>

	<select id="getListAll" parameterType="java.util.HashMap" resultType="com.board.body.dto.BoardWriteDto">
	<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM AS rn, b.*
		      FROM (SELECT * FROM boardwrite ORDER BY writenumber desc)b)
		where rn between #{startRow} and #{endRow}
	]]>
	</select>
	
	<select id="getListCategoryNumCount" resultType="int">
		SELECT count(*) FROM boardwrite where categorynumber=#{categorynumber}
	</select>
	
	<select id="getListCategoryNum" parameterType="java.util.HashMap" resultType="com.board.body.dto.BoardWriteDto">
	<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM AS rn, b.*
		      FROM (SELECT * 
		      		FROM boardwrite 
		      		where categorynumber=#{categorynumber} 
		      		ORDER BY writenumber desc)b
		      		)
		where rn between #{startRow} and #{endRow}
	]]>
	</select>
</mapper>

